.container {
    position: absolute; 
    top: 11px; 
    left: 0px; 
    width: 1434px; 
    height: 80px; 
    background: #FFFFFFFF; /* white */
    border-radius: 0px; 
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
  }